* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

html {
  height     : 100%;
  font-family: sans-serif;
}

header h1 {
  display   : block;
  text-align: center;
  padding   : 2%;
}

#characters {
  padding-bottom: 2%;
}

.characters-nav {
  display              : grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom        : 2%;
}

.characters-nav a {
  background-color: lightgreen;
  padding         : 10% 10%;
  cursor          : pointer;
  text-decoration : none;
  color           : black;
  font-weight     : bold;
  text-align      : center;
}

.characters-nav a[rel="prev"] {
  grid-column: 2;
}

.characters-nav a[rel="next"] {
  grid-column: 4;
}

.characters-grid {
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
  margin-bottom : 2%;
}

.character-card {
  flex            : 0 0 50%;
  max-width       : 50%;
  text-align      : center;
  color           : white;
  background-color: #000;
  border          : 4px solid white;
  padding         : 8px;
  position        : relative;
}

@media (min-width: 992px) {
  .character-card {
    flex     : 0 0 25%;
    max-width: 25%;
  }
}

.character-card img {
  width: 100%;
}

.character-card .name {
  padding: 1em 0;
}

.character-card .origin {
  display: block;
  padding: 1em 0;
}

.character-card .status {
  font-weight     : bold;
  color           : black;
  background-color: lightcoral;
  padding         : .5em;
  position        : absolute;
  top             : 0;
  left            : 0;
}

.character-card .species {
  font-weight     : bold;
  color           : black;
  background-color: lightblue;
  padding         : .5em;
  position        : absolute;
  top             : 0;
  right           : 0;
}